<!DOCTYPE html>
<html lang="is">
	<head>
		<title>Signage</title>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'signage/style.css' %}">
		<script type="text/javascript" src="{% static 'signage/script.js' %}"></script>
	</head>
	<body>
		<div class="wrapper">
			{% if motion %}
				<div class="poster">
					<video width="1080" height="1920" id="vid" autoplay muted loop >
	  					<source src={{ cdnurl }} type="video/mp4">
	  				</video>
				</div>
			{% else %}
			<div class="logo">
			</div>
			<div class="poster">
				<img src={{ cdnurl }} id="poster_image">
			</div>
			<div class="logo">
			</div>
			{% endif %}
		</div>
	</body>
</html>